{% extends "layout.html" %}
{% block content %}
<!-- Form
  ================================================== -->

<div class="container text-dark">

    <div>
        <h4>
            <left>
                利用規約:<br><br>
                ”きょう、ていの良い予想はあたるだろうか。”(以下、「当サイト」とします。)における利用規約は、下記の通りです。
            </left>
        </h4>
    </div>
    <left>
        <h6>
            <br><br><br><br>
            <div>
                <h4>
                    <left>
                        1. 損害等の責任について
                    </left>
                </h4>
            </div>
            <br><br>
            ・当サイトの予想によって競艇のレース結果に関して受けた利益、損害については、当サイトは一切関知せず、一切の責任を負いかねますので、ご了承ください。<br><br>
            ・当サイトのサービスが停止したことに起因して、利用者に損害が生じた場合においても何ら責任を負うものではありません。<br><br>
            <br><br>

        </h6>
    </left>
    <left>
        <h6>
            <br><br>
            <div>
                <h4>
                    <left>
                        2. 禁止事項
                    </left>
                </h4>
            </div>
            <br><br>
            ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。<br><br>
            ・法令または公序良俗に違反する行為<br>
            ・犯罪行為に関連する行為<br>
            ・当サイトのサーバーまたはネットワークの機能を破壊したり，妨害したりする行為<br>
            ・当サイトのサービスの運営を妨害するおそれのある行為<br>
            ・本サイトのサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為<br>
            <br><br>

        </h6>
    </left>
    <left>
        <h6>
            <br><br>
            <div>
                <h4>
                    <left>
                        3. サービス内容の変更等
                    </left>
                </h4>
            </div>
            <br><br>
            ・当サイトは，事前に通知することなく，当サービスの内容を変更、予測モデルの修正ができるものとします。<br>
            ・またはサービスの提供を中止することができるものとし，これによって生じた損害について一切の責任を負いません。<br>
            <br><br>

        </h6>
    </left>
    <left>
        <h6>
            <br><br>
            <div>
                <h4>
                    <left>
                        4. 利用規約の変更
                    </left>
                </h4>
            </div>
            <br><br>
            当サイトは，必要と判断した場合には，事前に通知することなくいつでも本規約を変更することができるものとします。<br>
            <br><br>

        </h6>
    </left>



    <div align="right">
        <h6>
            <br><br><br>
            制定日：2020/06/14<br><br>
            <br><br>
            <br><br>

        </h6>
    </div>
    <br>
</div>




{% endblock %}
