{% extends "layout.html" %}
{% block content %}
<!-- Form
  ================================================== -->

<div class="container text-dark">

    <div>
        <h3>
            <left>
                「今日、体(てい)の良い予想が当たらないかな。」
            </left>
        </h3>
    </div>
    <left>
        <h6>
            <br><br>
            2019年の春、初めてボートレースを見に行ってびっくり。<br><br>
            なにこれ、迫力あるじゃん.......面白い！<br><br>
            ついつい魅入った僕、そして全く当たらない舟券...。<br><br>
            <br><br>
            そして、2019年の秋、Mac bookを持って再び競艇場に向かった。<br><br>
            スタバMac勢はうじゃうじゃいるが、競艇場に持ち込むのは自分ぐらいじゃないだろうか。<br><br>
            Wi-Fiスポットはなく、結局その場でMac bookは何の役にも立たなかったが、僕のプロジェクトはこうして静かに始まった。<br><br>
            <br><br><br><br>

            <div>
                <h3>
                    <left>
                        「機械学習、はじめました」
                    </left>
                </h3>
            </div>
            <br><br>
            このサイトでは、過去のボートレース試合結果、ボートレーサー情報、競艇場情報などをデータセットとし、機械学習によって得られた予測モデルを使用しています。<br><br>
            テスト環境では、何も考えずに買うよりかは幾分か高い的中率を実現できていますが、まだまだ予測モデルの改善は続きます。<br><br>
            したがって、自戒の意味も込め「それっぽい」 = 「ていの良い」予測サイトと評しております。<br><br>
            内部で行われていること、Webサイトの作り方はQiitaにまとめていきます。<br><br>
            本業はコテコテの機械系エンジニアですが、一念発起してやればできるもんですね。<br><br>
            <br><br><br><br>

        </h6>
    </left>
    <div>
        <h3>
            <left>
                「競艇予想が良く当たる。」サイトになるまで、<br>孤独なレースは続いていく..
            </left>
        </h3>
    </div>
    <left>
        <h6>
            <br><br>
            このページがあなたの新たな扉を開いたら、、嬉しいです。<br><br>
            <br><br>

        </h6>
    </left>
    <div align="right">
        <h6>
            <br><br><br>
            2020/06/14<br><br>
            開発者より<br><br>
            <br><br>

        </h6>
    </div>
    <br>
</div>




{% endblock %}
