{% extends "layout.html" %}
{% block content %}
<!-- Form
  ================================================== -->
<div>
    <br>
    <h3>
        <center>
            (なんと！)ていの良いTシャツ、つくりました。
        </center>
    </h3>
    <br>
</div>

<div class="row justify-content-center">
    <div class="col text-center">
        <a class="btn btn-outline-dark" href="https://utme.uniqlo.com/jp/t/FVESlHA" role="button" disabled>購入サイトへ »</a>

    </div>
</div>

<!--↓layout.htmlの<div>タグをここで完了させる-->
</div>
<!---->
<div class="container text-dark">
    <div align="center">
        <img src="../static/images/Tshirts.png" width=80% alt="">
        <h6>
            <br><br>
            今はまだ、競艇場に出かけづらいけども、<br><br>
            近い日に、このTシャツを着て競艇場に出かけられると信じています。<br><br>
            <br><br>
        </h6>
    </div>
</div>



<!--↓layout.htmlの</div>タグとの整合性をとる-->
<div>
    <!---->
    {% endblock %}
